<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Footloose" type="Footloose.Configuration.FootlooseConfigurationSectionGroup, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" >
      <section name="Serializer" type="Footloose.Configuration.SerializerConfigurationSection, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" />
      <section name="ServiceContracts" type="Footloose.Configuration.ServiceContractConfigurationSection, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" />
      <section name="TransportChannel" type="Footloose.Configuration.TransportChannelConfigurationSection, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>

  <Footloose xmlns="http://www.footloose-project.de/configuration/v1.0">
    <Serializer defaultSerializer="BinarySerializer">
      <types>
        <add name="BinarySerializer" type="Footloose.Serialization.BinarySerializer, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" />
        <add name="JsonSerializer" type="Footloose.Serialization.Json.JsonSerializer, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null" />
      </types>
    </Serializer>

    <ServiceContracts>
      <types>
        <add type="FootlooseExamples.Config.File.Contracts.IService1, FootlooseExamples.Config.File, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add type="FootlooseExamples.Config.File.Contracts.IService2, FootlooseExamples.Config.File, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </types>
    </ServiceContracts>

    <TransportChannel
      defaultTransportChannel="Channel-1-Remoting"
      endpointIdentifier="62eb0466-efe1-44df-be40-7ec7e31f9788">

      <transportChannels>
        <add name="Channel-1-Remoting"
             type="Footloose.TransportChannels.Remoting.RemotingTransportChannel, Footloose, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null"
             remotingConfigFile="" />

        <add name="Channel-2-XMPP"
             type="Footloose.TransportChannels.Xmpp.XmppTransportChannel, Footloose.Xmpp, Version=0.1.32.0, Culture=neutral, PublicKeyToken=null"
             priority="15"
             credentials="Test"
             connectionType="Tcp"
             serverAddress=""
             port="5222"
             autoResolveServerAddress="true"
             useCompression="false"
             useTls="true" />
      </transportChannels>

      <credentials>
        <add name="Test" userName="testuser" password="secret" domain="jabber.org" />
        <add name="Production" userName="user" password="secret" domain="jabber.org" />
      </credentials>

    </TransportChannel>
  </Footloose>

</configuration>